@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

html,
body {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

#с {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

#statsInfo {
  position: absolute;
  top: 0;
  left: 0;
}

#main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #071812;
  z-index: 999;
  transition: opacity 1s ease-out;
}

#select-resolution-container {
  position: absolute;
  margin: 0;
  width: 50%;
  max-width: 550px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

#resolution-select-text,
#background-select-text {
  position: relative;
  left: 0;
  width: 100%;
  min-width: 100px;
  height: auto;
  font-size: 20px;
  text-align: center;
  color: #d2eed5;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.resolution-selection-button {
  width: calc(100% - 6px);
  min-width: 90px;
  height: 27px;
  padding-top: 3px;
  background: transparent;
  border: 3px solid #0b3024;
  position: relative;
  margin: 10px 0 0 0;
  border-radius: 20px;
  color: #d2eed5;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms ease-out;
}

.resolution-selection-button:hover {
  background: #0b3024;
}

#background-selection-container {
  position: absolute;
  overflow: auto;
  display: none;
  margin: 0;
  width: 50%;
  min-width: 140px;
  max-width: 550px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  overflow-x: hidden;
  padding-right: 10px;
}

.background-selection-button {
  position: relative;
  margin: 10px auto 0;
  width: calc(100% - 4px);
  min-width: 100px;
  height: auto;
  font-size: 16px;
  text-align: center;
  border: 2px solid #0b3024;
  border-radius: 25px;
  color: #d2eed5;
  user-select: none;
  cursor: pointer;
  padding: 2px;
  transition: background-color 200ms ease-out;
}

.background-selection-button:hover {
  background: #0b3024;
}

#background-selection-container :last-child {
  font-weight: 800;
}

#backgroundInfo {
  position: absolute;
  width: 200px;
  height: auto;
  font-size: 16px;
  margin: 0;
  font-weight: 800;
  text-align: center;
  color: #88ddb4;
  left: calc(50% - 100px);
  top: 5px;
  background: transparent;
}

#background-selection-container::-webkit-scrollbar {
  width: 10px;
}

#background-selection-container::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px #0a121833 inset;
  background-color: #071812;
  border-radius: 5px;
}

#background-selection-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(180deg, #153c2e, #235845);
}

#loading-container {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: transparent;
  display: none;
  z-index: 99999;
  left: 0;
  top: calc(50% - 25px);
}

#loading-text {
  position: relative;
  width: 100%;
  height: 18px;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  color: #d2eed5;
}

.circle {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: transparent;
  border-radius: 50%;
  background: #adffb6;
  top: 2px;
}

.run-loading-animation {
  animation: loading 1s ease-in-out alternate infinite;
}

@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media all and (max-width: 768px) {
  #resolution-select-text {
    font-size: 16px;
  }

  #background-select-text {
    font-size: 18px;
  }

  .resolution-selection-button {
    padding-top: 5px;
    height: 25px;
    font-size: 14px;
  }

  .background-selection-button {
    font-size: 13px;
  }
}

@media all and (max-width: 445px) {
  #resolution-select-text {
    font-size: 13px;
  }

  .resolution-selection-button {
    padding-top: 7px;
    height: 23px;
    font-size: 11px;
  }

  .background-selection-button {
    font-size: 11px;
    padding-top: 3px;
    height: 17px;
  }

  #background-select-text {
    font-size: 13px;
  }
}

@media all and (max-width: 365px) {
  #backgroundInfo {
    font-size: 10px;
    width: 160px;
    left: calc(50% - 80px);
  }

  .background-selection-button {
    font-size: 8px;
    padding-top: 6px;
    height: 14px;
  }

  #background-select-text {
    font-size: 10px;
  }
}
